@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default (Light Mode) */
  --background: #f8fafc;
  --foreground: #171717;
}

.dark {
  /* Night Mode */
  --background: #020617; /* Dark Slate 950 */
  --foreground: #f8fafc; /* Light Text */
}

body {
  background: var(--background);
  color: var(--foreground);
}